
/* configuración del body*/
body{    
    background-image:
            linear-gradient(
            90deg,
            rgba(0, 0, 0, 0.932),
            rgba(255, 255, 255, 0),
            rgb(0, 0, 0, 0.932)
          ), url(../img/fondoPaisaje.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    font-family: 'Barlow Semi Condensed', sans-serif;
    margin: 1rem;
}

/* estilo de secciones */
.seccion{
 background-color: rgba(15, 53, 21, 0.733);
}

/* boton login modal */
.btn.btnLogin{
    background-color: rgba(32, 107, 45, 0.795);
}

/*navbar*/
.navbar{
    background-color: rgba(32, 107, 45, 0.795) ;
    height: 4em;
}

/*iconos de navbar */

.fa-facebook:hover{
    color: blue;
}
.fa-twitter:hover{
    color: lightblue;
}
.fa-instagram:hover{
    color: violet;
}
.fa-linkedin:hover{
    color: rgb(99, 154, 190);
}
.fa-github:hover{
    color: rgb(209, 164, 123);
}
.fa-user-slash:hover{
    color: rgb(247, 243, 48);
}

/*imagen de perfil */
.profileImage{
       box-shadow: 6px 6px 5px 2px rgba(24, 21, 21, 0.945);
       margin-top: -8em;
       margin-left: 1em;
       min-width: 5em;
}

/*boton de edición de Banner */
.btn.btn-close-white.editBanner{
    position: absolute;
    margin-left: -3rem;
}

/* colores de botones de edición */
.btn.btn-close-white:hover,
.btn.btn-close-white{
    color: black;
}


